In [1]:
import random

In [4]:
vals = [[random.randint(1,50), random.randint(10,200), random.choice(list("abcde"))] for i in range(50)]

In [34]:
def return_value(x):
    print("This is the current value for x --> : ", f"{x}".ljust(15), "and this the the first x value --> ", f"{x[1]}".ljust(15))
    return x[2]
vals.sort(key = lambda value: value[1])
# vals.sort(key = return_value)

In [35]:
vals

[[38, 11, 'c'],
 [26, 14, 'b'],
 [50, 15, 'b'],
 [12, 21, 'a'],
 [39, 23, 'a'],
 [44, 29, 'd'],
 [30, 34, 'a'],
 [44, 37, 'a'],
 [25, 41, 'e'],
 [35, 43, 'e'],
 [10, 46, 'a'],
 [46, 48, 'e'],
 [36, 51, 'e'],
 [1, 63, 'd'],
 [36, 65, 'b'],
 [4, 65, 'e'],
 [17, 68, 'a'],
 [15, 68, 'e'],
 [10, 76, 'a'],
 [48, 76, 'c'],
 [5, 79, 'd'],
 [46, 79, 'd'],
 [34, 82, 'c'],
 [30, 87, 'd'],
 [49, 91, 'e'],
 [31, 95, 'a'],
 [32, 101, 'a'],
 [15, 108, 'c'],
 [20, 117, 'd'],
 [41, 121, 'd'],
 [9, 123, 'e'],
 [50, 135, 'a'],
 [29, 140, 'a'],
 [45, 155, 'b'],
 [33, 159, 'a'],
 [17, 160, 'd'],
 [48, 160, 'd'],
 [28, 161, 'e'],
 [4, 168, 'c'],
 [36, 173, 'a'],
 [10, 174, 'b'],
 [33, 174, 'e'],
 [28, 175, 'b'],
 [18, 182, 'e'],
 [25, 186, 'd'],
 [31, 189, 'b'],
 [28, 192, 'd'],
 [32, 194, 'b'],
 [49, 194, 'd'],
 [15, 197, 'b']]

In [45]:
def alter_list(value):
    return [value[0]-10, value[0], value[1], value[2]]

# value = map(lambda x: [x[0]-10, x[0], x[1], x[2]], vals)
value = map(alter_list, vals)

In [46]:
list(value)

[[28, 38, 11, 'c'],
 [16, 26, 14, 'b'],
 [40, 50, 15, 'b'],
 [2, 12, 21, 'a'],
 [29, 39, 23, 'a'],
 [34, 44, 29, 'd'],
 [20, 30, 34, 'a'],
 [34, 44, 37, 'a'],
 [15, 25, 41, 'e'],
 [25, 35, 43, 'e'],
 [0, 10, 46, 'a'],
 [36, 46, 48, 'e'],
 [26, 36, 51, 'e'],
 [-9, 1, 63, 'd'],
 [26, 36, 65, 'b'],
 [-6, 4, 65, 'e'],
 [7, 17, 68, 'a'],
 [5, 15, 68, 'e'],
 [0, 10, 76, 'a'],
 [38, 48, 76, 'c'],
 [-5, 5, 79, 'd'],
 [36, 46, 79, 'd'],
 [24, 34, 82, 'c'],
 [20, 30, 87, 'd'],
 [39, 49, 91, 'e'],
 [21, 31, 95, 'a'],
 [22, 32, 101, 'a'],
 [5, 15, 108, 'c'],
 [10, 20, 117, 'd'],
 [31, 41, 121, 'd'],
 [-1, 9, 123, 'e'],
 [40, 50, 135, 'a'],
 [19, 29, 140, 'a'],
 [35, 45, 155, 'b'],
 [23, 33, 159, 'a'],
 [7, 17, 160, 'd'],
 [38, 48, 160, 'd'],
 [18, 28, 161, 'e'],
 [-6, 4, 168, 'c'],
 [26, 36, 173, 'a'],
 [0, 10, 174, 'b'],
 [23, 33, 174, 'e'],
 [18, 28, 175, 'b'],
 [8, 18, 182, 'e'],
 [15, 25, 186, 'd'],
 [21, 31, 189, 'b'],
 [18, 28, 192, 'd'],
 [22, 32, 194, 'b'],
 [39, 49, 194, 'd'],
 [5, 15, 197, 'b']]

In [50]:
names = ["bolu", "jacob", "shayo", "kunle"]

saluted_names = map(lambda name: "Mr. "+ name.capitalize(), names)
list(saluted_names)

In [54]:
names = [("bolu", "f"), ("jacob", "m"), ("shayo", "f"), ("kunle", "m")]

saluted_names = map(lambda name: "Mr. "+ name[0].capitalize() if name[1] == "m" else "Mrs. "+ name[0].capitalize(), names)
list(saluted_names)

['Mrs. Bolu', 'Mr. Jacob', 'Mrs. Shayo', 'Mr. Kunle']

In [56]:
def salute_fellow(name):
    if name[1] == "m":
        return "Mr. "+ name[0].capitalize()
    elif name[1] == "f":
        return "Mrs. "+ name[0].capitalize()
    
saluted_names = map(salute_fellow, names)
list(saluted_names)

['Mrs. Bolu', 'Mr. Jacob', 'Mrs. Shayo', 'Mr. Kunle']